<!DOCTYPE html>
<html>
<head>
	{% load static %}
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Request</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.14/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./events.css">
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="{% static 'css/navbar.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/datatable.css' %}" />
<script id="applicationScript" type="text/javascript" src="{% static 'js/datatable.js' %}"></script>

</head>
<body>
	<header>
		<a href="#" ><img src="{% static 'img/metro.jpg' %}" width="100px" height="100px" class="logo"></a>
		<ul>
			<li><a href="/webapp/home">Home</a></li>

			<div class="dropdown3">
				<button class="dropbtn3">Administrator
					<i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content3">

						<a href="/webapp/administrator_users">Manage Users</a>
						<a href="/webapp/administrator">Requests</a>

					</div>
			</div>
		</ul>
	</header>
	<div class="title">
		<span>User List</span>
	</div>
	<!-- {% for u in user %}
    {% if u.status == 1 %}
	
		<div id="see_description">
			<div id="view{{ u.id }}" class="modal">
			<div id="Group_81">
				<svg class="Rectangle_125">
					<rect id="Rectangle_125" rx="5" ry="5" x="0" y="0" width="1330" height="673">
					</rect>
				</svg>
				<svg class="Rectangle_126">
					<rect id="Rectangle_126" rx="22" ry="22" x="0" y="0" width="1266" height="591">
					</rect>
				</svg>
			</div>
			<div id="Rey_Dominic_Tome">
				<span>Username: {{ u.username }}</span>
			</div>
			<div id="-_Requesting_to_be_an_Administ">
				<span>- {% if req.request_type == 'request_to_be_an_administrator' %}
					Requesting to be an Administrator
				  {% endif %}
				  {% if req.request_type == 'request_to_be_an_organizer' %}
					Requesting to be an Organizer
				  {% endif %}</span>
			</div>
			<div id="March_22_2021_1230_am">
				<span>Date Registered: {{ u.date_registered | date:"F d, Y" }}</span>
			</div>
			<div id="May_I_request_to_choochooo_in_">
				<span>First Name: {{ u.first_name }}<br>
					 Middle Name: {{ u.middle_name }}<br>
					 Last Name: {{ u.last_name }}<br>
					 Email: {{ u.email }}<br>
				</span>
			</div>
			<form id="updateForm" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div id="Group_83">
					<svg class="Rectangle_128">
						<rect id="Rectangle_128" rx="30" ry="30" x="0" y="0" width="247" height="60">
						</rect>
					</svg>
					<input type="text" name="request_id" value = "{{ req.id }}" hidden>
					<input type="submit" value="Deactivate" id="request-accepted" name = "btnAccept">
				</div>
			</form>
			<form id="updateForm" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div id="request-denied">
					<svg class="Rectangle_127">
						<rect id="Rectangle_127" rx="30" ry="30" x="0" y="0" width="247" height="60">
						</rect>
					</svg>
					<input type="text" name="request_id" value = "{{ req.id }}" hidden>
					<input type="submit" value="Send Warning" id="Denied" name = "btnDecline">
				</div>
			</form>
			<div id="reply">
				<svg class="Polygon_2" viewBox="0 0 51.962 50.856">
					<path id="Polygon_2" d="M 25.98080444335938 0 L 51.96161270141602 50.85604858398438 L 0 50.85604858398438 Z">
					</path>
				</svg>
				<svg class="Path_238" viewBox="16.5 3 18.242 18.242">
					<path id="Path_238" d="M 34.74184417724609 3 L 16.5 21.24184226989746">
					</path>
				</svg>
				<svg class="Path_239" viewBox="3 3 33.167 33.167">
					<path id="Path_239" d="M 36.16698455810547 3 L 24.55854034423828 36.16698455810547 L 17.92514419555664 21.24184226989746 L 3 14.60844421386719 L 36.16698455810547 3 Z">
					</path>
				</svg>
			</div>
			<div id="minimize-desc">
				<svg class="Rectangle_130">
					<rect class = "close" id="Rectangle_130" rx="4.5" ry="4.5" x="0" y="0" width="56" height="9">
					</rect>
				</svg>
				<svg class="Rectangle_131">
					<rect class = "close" id="Rectangle_131" rx="4.5" ry="4.5" x="0" y="0" width="35" height="9">
					</rect>
				</svg>
			</div>
		</div>
	</div>
	{% endif %}
    {% endfor %}
	
	<div id="filter-section">
		<form id="myFilter">
		<svg class="Rectangle_159">
			<rect id="Rectangle_159" rx="7" ry="7" x="0" y="0" width="815" height="290">
			</rect>
		</svg>
		<div id="Group_108">
			<div id="Status">
				<span>Status</span>
			</div>
			<div id="Group_98">
					<input  type="checkbox" id="check-pend" name="status" value="Pending">
				<div id="Pending">
					<span>Pending</span>
				</div>

			</div>
			<div id="Group_100">
				<input  type="checkbox" id="check-appro" name="status" value="Approved">
				<div id="Approved">
					<span>Approved</span>
				</div>
			</div>
			<div id="Group_101">
				<input  type="checkbox" id="check-canc" name="status" value="Cancelled">
				<div id="Cancelled">
					<span>Cancelled</span>
				</div>
			</div>
		</div>
		<svg class="Line_16" viewBox="0 0 682 1">
			<path id="Line_16" d="M 0 0 L 682 0">
			</path>
		</svg>
		<div id="Group_107">
			<div id="Type">
				<span>Type</span>
			</div>
			<div id="Group_102">
				<input  type="checkbox" id="check-reg" name="type" value="Regular">
				<div id="Regular">
					<span>Regular</span>
				</div>
			</div>
			<div id="Group_103">
				<input  type="checkbox" id="check-org" name="type" value="Organizer">
				<div id="Organizer">
					<span>Organizer</span>
				</div>
			</div>
			<div id="Group_104">
					<input  type="checkbox" id="check-admin" name="type" value="Administrator">
				<div id="Administrator">
					<span>Administrator</span>
				</div>
			</div>
		</div>
		<svg class="Line_17" viewBox="0 0 682 1">
			<path id="Line_17" d="M 0 0 L 682 0">
			</path>
		</svg>
		<div id="Group_106">
			<div id="Date">
				<span>Date</span>
			</div>
			<input id="date-to" class="date-to" name="max" type="date">
			<input id="date-from" class="date-from" name="min" type="date">
		</div>
		<svg class="Line_18" viewBox="0 0 15 1">
			<path id="Line_18" d="M 0 0 L 15 0">
			</path>
		</svg>
		<svg class="Line_19" viewBox="0 0 682 1">
			<path id="Line_19" d="M 0 0 L 682 0">
			</path>
		</svg>
		<div id="apply-filter">
			<input id="Apply" onclick="applyFilter()" class="Apply" value="Apply">
			<div id="cancel-filter" onload="delay()" class="cancel-filter">
				<span>Cancel</span>
			</div>
			<div id="clear-filter" onclick="uncheckElements()" >
				<span>Clear all Filters</span>
			</div>
		</div>
	</form>
	</div> -->
	<div class="container p-30">
        <div class="row">
            <div class="col-md-12 main-datatable">
                <div class="card_body">
                    <div class="row d-flex">

                        <div class="col-sm-8 add_flex">
                            <div class="form-group searchInput">
                                <label for="email">Search:</label>
                                <input type="search" class="form-control" id="filterbox" placeholder=" ">
                            </div>
                        </div> 
                    </div>
                    <div class="overflow-x">
                        <table style="width:100%;" id="filtertable" class="table cust-datatable dataTable no-footer">
                            <thead>
                                <tr>
									<th data-sortable="true">Date Registered</th>
									<th data-sortable="false">Username</th>
									<th data-sortable="true">First Name</th>
									<th data-sortable="true">Middle Name</th>
									<th data-sortable="true">Last Name</th>
									<th data-sortable="true">Email</th>
									<th data-sortable="false">Action</th>
								</tr>
							</thead>
							<tbody>
								{% for u in user %}
								{% if u.status == 1 %}
								<tr>
									<td>{{ u.register_date | date:"F d, Y" }}</td>
									<td>{{ u.username }}</td>
									<td>{{ u.first_name }}</td>
									<td>{{ u.middle_name}}</td>
									<td>{{ u.last_name }}</td>
									<td>{{ u.email }}</td>
									<td>
                                        <div class="btn-group">
											 <a type="button" class="fa fa-eye" href="#" data-toggle="modal" data-target="#newModal-{{e.id}}"></a>
                                        </div>
                                        <span class="btn-group">
                                            <a href="{{ e.id }}""><i class="bi bi-eye""></i></a>
                                        </span>
                                        <div class="btn-group">
                                            <a type="button" class="fa fa-trash" href="#" data-toggle="modal" data-target="#exampleModal-{{e.id}}"></a>
                                        </div>
                                    </td>
								</tr>

								{% endif %}
						<div class="modal fade" id="newModal-{{e.id}}" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true" >
	                    <div class="modal-dialog modal-lg" role="document">
	                      <div class="modal-content">
	                        <div class="modal-header">
							   <h5 class="modal-title" id="exampleModalLabel">VIEW DETAILS</h5>
							     <p class="close" data-dismiss="modal" aria-label="Close">
							       <span aria-hidden="true">&times;</span>
							      </p>
							  </div>
							   <form id="updateForm" method="post" >
                        		{% csrf_token %}
								    <div class="inputfield" >

					         <div class="inputfield" >
					          <label>Username :</label>
					          <input type="text" style="color:black" name="username" value = {{u.username}}>
							 </div>
								<div class="inputfield" >
					          <label>Email :</label>
					          <input type="text" style="color:black" name="email" value = {{u.email}}>
							 </div>
										<div class="inputfield" >
					          <label>Fist Name :</label>
					          <input type="text" style="color:black" name="first_name" value = {{u.first_name}}>
							 </div>
										<div class="inputfield" >
					          <label>Middle Name :</label>
					          <input type="text" style="color:black" name="middle_name" value = {{u.middle_name}}>
							 </div>
							</div>
										<div class="inputfield" >
					          <label>Last Name :</label>
					          <input type="text" style="color:black" name="middle_name" value = {{u.last_name}}>
							 </div>


	                        <div class="modal-footer">
						<form id="updateForm" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div id="Group_83">
					<input type="text" name="event_id" value = "{{ req.event.id }}" hidden>
					<input type="text" name="request_id" value = "{{ req.id }}" hidden>

				</div>
			</form>

	                        </div>

	                      </div>
	                  </form>
	                    </div>
	                  </div>
								<div class="modal fade" id="exampleModal-{{e.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					      <div class="modal-dialog" role="document">
					        <div class="modal-content">
					          <div class="modal-header">
					            <h5 class="modal-title" id="exampleModalLabel">DELETE RECORD</h5>
					           <p class="close" data-dismiss="modal" aria-label="Close">
					              <span aria-hidden="true">&times;</span>
					            </p>
					          </div>
					      	<form id="deleteForm" method="post" >
                        	{% csrf_token %}
					          <div class="modal-body">
								<input type="text" class="input" style="color:black" name="employee_id" value = {{u.id}} hidden="">
					            Are you sure you want to delete this record?
					          </div>
					          <div class="modal-footer">
	                         <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
	                          <button type="submit" id = "btnDelete" name = "btnDelete" class="btn btn-primary">YES</button>

					          </div>
					          </form>
					        </div>
					      	</div>
					    </div>


								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.14/js/jquery.dataTables.min.js"></script>
</html>